<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pyhy"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity">
            <!-- 可以添加启动模式等属性 -->
        </activity>
        <activity android:name=".Login.User_Main"/> <!--用户主界面-->

        <activity android:name=".Login.TreeHoleActivity"/> <!--树洞-->
        <activity android:name=".Login.TreeHole.PostTreeHoleActivity"/> <!--树洞创建-->

        <activity android:name=".Login.SmartChatActivity"/> <!--智能聊天-->

        <activity android:name=".Login.MoodRecordActivity"/> <!--日记心情记录-->
        <activity android:name=".Login.DiaryWrite.CreateDiaryActivity"/> <!--创建日记-->

        <activity android:name=".Login.PsychResourcesActivity"/> <!--心里资源-->

        <activity android:name=".Login.MessagesActivity"/> <!--好友消息-->

        <activity android:name=".Login.UserInfoActivity"/> <!--个人信息界面-->

        <activity android:name=".Login.FriendsActivity"/> <!--好友-->

        <activity android:name=".Login.ShortVideosActivity"/> <!--短视频-->


    </application>

</manifest>